| Number Of elements in the Table | Insertion Time [ms] | Memory Allocated [MB] |
| --- | --- | --- |
| 100000 | 813.0 | 56.02872 |
| 100000 | 797.0 | 56.02872 |
| 100000 | 1.0e3 | 56.02872 |
| 100000 | 1016.0 | 56.02872 |
| 100000 | 985.0 | 56.02872 |
